-content_for :head do
  =stylesheet_link_tag :fullcalendar, :contextmenu
  =javascript_include_tag :fullcalendar, :contextmenu
:javascript
  viewModel = {
    byRange : new ko.observable("#{params[:by_range] || 'false'}")
  }
  $(function(){
    ko.applyBindings(viewModel, document.getElementById("search"));
    $('#accordian').accordion();

    $('#calendar').fullCalendar({
      ignoreTimezone: false,
      allDayDefault: false,
      selectable: true,
      selectHelper: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek'
      },
      dayClick: function(date, allDay, jsEvent, view) {
        var d = $.fullCalendar.formatDate(date, 'yyyy-mm-dd');
        document.location.href="auctions/new?date="+d
      },
      select: function(start, end, allDay) {
        if(allDay){
          var date = $.fullCalendar.formatDate(start, 'yyyy-MM-dd');
          document.location.href="auctions/new?auction_date="+date
        }
        var s = $.fullCalendar.formatDate(start, 'yyyy-MM-ddTHH:mm');
        var e = $.fullCalendar.formatDate(end, 'yyyy-MM-ddTHH:mm');
        document.location.href="auctions/new?start="+s+"&end="+e
      },
      events : #{@auctions.to_json(:only => [:id, :title, :start, :end])},
      eventRender: function(event, element) {
        $(element).addClass("clickable");
        $(element).attr("data-id", event.id);
      }
    })

    $(".clickable").contextMenu({ menu: 'contextMenu' },
      function(action, el, pos) {
        var id = $(el).attr("data-id")
        if(action == "edit"){
          document.location.href="auctions/edit/" + id;
        }
        if(action == "delete"){
          var text = "Are you sure you want to remove this Auction record? Note that " 
                  + "it will only be possible to remove the record if it has no associated data.";
          $("#dialog").html(text);
          $("#dialog").confirmationDialog({
            autoStart: true,

            onConfirm: function(){
              document.location.href="auctions/destroy/" + id + "?_method=delete"
            }
          });
        }
      }
    );

    $(".clickable").click(function(event){
      var id = $(this).attr("data-id");
      document.location.href = "auctions/" + id + "/dashboard";
    });


  });

  function clearDates(){
    $("#start_date").val("");
    $("#end_date").val("");
  }
-content_for(:context_panel) do
  %ul.contextMenu{:id => "contextMenu"}
    %li.edit
      %a{:href => "#edit"} Edit
    %li.delete
      %a{:href => "#delete"} Delete
  #search.block
    #accordian
      %h3="&nbsp;&nbsp;&nbsp;Current and Upcoming"
      %div{:style => 'padding-left:0px;padding-right:0px;'}
        %table.table
          -@auctions_upcoming.each do |a|
            -is_today = date_string(a.start)==date_string(today_as_utc)
            %tr.clickable{:style => "font-size:.8em;#{'font-weight:bold;' if is_today}",
                          :'data-id' => a.id}
              %td{:width => '80px'}=date_string(a.start)
              %td
                %div
                  #{a.title}
          -if @auctions_upcoming.empty?
            %tr
              %td No upcoming auctions found.
      %h3="&nbsp;&nbsp;&nbsp;Recent Auctions"
      %div{:style => 'padding-left:0px;padding-right:0px;'}
        %table.table
          -@auctions_recent.each do |a|
            %tr.clickable{:style => 'font-size:.8em', :'data-id' => a.id}
              %td{:width => '80px'}=date_string(a.start)
              %td
                %div
                  #{a.title}
          -if @auctions_recent.empty?
            %tr
              %td No recent auctions found.
.block 
  .content
    .inner
      #calendar