!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Auction Floor
    =stylesheet_link_tag :layout, :theme, :jqueryui
    %link{:href=>'http://fonts.googleapis.com/css?family=Sigmar+One', :rel=>'stylesheet', :type=>'text/css'}
    =javascript_include_tag :jquery, :jqueryui, |
      :"jquery.tmpl", :"jquery.validate", :"jquery.maskedinput", :"jquery.blockui", :"jquery.dataTables", |
      :"knockout-1.2.1", :"knockout-mapping", :"knockout.dataTables", :application, :models |
    :javascript
      $(function() {
        $("#config-menu button").button({
          icons: {
            primary: "ui-icon-wrench",
            secondary: "ui-icon-triangle-1-s"
          }
        }).next().menu({
          select: function(event, ui) {
            $(this).hide();
          }
        }).popup();

        $("#main-navigation button").button();
        setActiveButton();

        $("#container").css("display", "block");
      });

      function setActiveButton(){
        $("#main-navigation button").each(function(e){
          // TODO : Complete
        });
      }
    =[:error, :warning, :notice].map { |type| flash_growl(type) }.join
    =yield_content :head
  %body
    #container{:style => "display:none"}
      #header
        #top-banner
          %h1=link_to "Auction Floor"
          #user-navigation
            %ul.wat-cf
              %li=link_to("Logout", "/sessions/destroy", :method => :delete)
            
      #main-navigation.ui-widget-header
        %ul.wat-cf
          =button_link "Auctions", "/auctions"
          =button_link "Customers", "/customers"
          =button_link "Consignees", "/consignees"
          =button_link "Dashboard", "/auctions/#{params[:auction_id]}/dashboard" if params[:auction_id]
          =button_link "Bidders", "/auctions/#{params[:auction_id]}/bidders" if params[:auction_id]
          =button_link "Lots", "/auctions/#{params[:auction_id]}/lots" if params[:auction_id]
          =button_link "Sales", "/auctions/#{params[:auction_id]}/sales" if params[:auction_id]

          -if current_account.role == "admin"
            #config-menu
              %button=pat(:configure)
              %ul
                %li=link_to pat(:accounts), "/accounts"
                %li=link_to pat(:locations), "/locations"
                %li=link_to pat(:parameters), "/parameters"
                %li=link_to pat(:customizations), "/customizations"
                  
      #wrapper.wat-cf
        #sidebar
          =yield_content :context_panel
        #main
          =yield
          #footer
            .block
              %p Copyright &copy; #{Time.now.year} Pliosoft - Auction Floor  
  #dialog{ :style=>"display:none;"}
    TEST