!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Auction Floor
    =stylesheet_link_tag :layout, :theme, :jqueryui
    =javascript_include_tag :jquery, :jqueryui, |
      :"jquery.tmpl", :"jquery.validate", :"knockout-1.2.1", :"knockout-mapping", :application |
    =yield_content :head
  %body
    #container
      #header
        %h1=link_to "Auction Floor"
        #user-navigation
          %ul.wat-cf
            %li=link_to("Logout", "/sessions/destroy", :method => :delete)
            
        #main-navigation
          %ul.wat-cf
            %li{:class => ("active" if request.path_info =~ /^\/auctions$/)}
              =link_to pat(:auctions), "/auctions", :accesskey => 'a'
            %li{:class => ("active" if request.path_info =~ /dashboard/)}
              =link_to pat(:dashboard), "/auctions/#{params[:auctions_id]}/dashboard", :accesskey => 'd' if params[:auctions_id]
            %li{:class => ("active" if request.path_info =~ /bidders/)}
              =link_to pat(:bidders), "/auctions/#{params[:auctions_id]}/bidders", :accesskey => 'b' if params[:auctions_id]
            %li{:class => ("active" if request.path_info =~ /lots/)}
              =link_to pat(:lots), "/auctions/#{params[:auctions_id]}/lots", :accesskey =>'l' if params[:auctions_id]
            %li{:class => ("active" if request.path_info =~ /sales/)}
              =link_to pat(:sales), "/auctions/#{params[:auctions_id]}/sales", :accesskey => 's' if params[:auctions_id]
            -if current_account.role == "admin"
              #config-dropdown
                =image_tag("gear.png", :height => "24px", :width => "24px")
                %ul.list
                  %li=link_to pat(:accounts), "/accounts"
                  %li=link_to pat(:parameters), "/parameters"
                  %li=link_to pat(:customizations), "/customizations"
      #wrapper.wat-cf
        .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
        #sidebar
          =yield_content :context_panel
        #main
          =yield
          #footer
            .block
              %p Copyright &copy; #{Time.now.year} Pliosoft - Auction Floor  
  #dialog{ :style=>"display:none;"}
    TEST