!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Auction Floor
    = stylesheet_link_tag :layout, :theme, 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'
    = javascript_include_tag :jquery, |
      'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js', |
      :"jquery.tmpl", :"jquery.validate", :json2, :"knockout-1.1.2", :application |
  %body
    #container
      #header
        %h1=link_to "Auction Floor"
        #user-navigation
          %ul.wat-cf
            %li=link_to 'Logout', '/sessions/destroy', :method => :delete
        #main-navigation
          %ul.wat-cf
            -project_modules.each do |project_module|
              %li{:class => ("active" if request.path_info =~ /^#{project_module.path}/)}
                =link_to project_module.human_name, project_module.path("/")
      #wrapper.wat-cf
        .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
        -# Yeah - it's a pretty ugly way to determine the partial to render... TODO
        #sidebar
          =yield_content(:context_panel)
          =@auction.nil? ? "": partial('/auctions/sidebar')
        #main
          =yield
          #footer
            .block
              %p Copyright &copy; #{Time.now.year} Pliosoft - Auction Floor
        
  #dialog{ :style=>"display:none;"}
    TEST