!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Auction Floor
    =stylesheet_link_tag :layout, :theme, :jqueryui
    =javascript_include_tag :jquery, :jqueryui, |
      :"jquery.tmpl", :"jquery.validate", :"jquery.maskedinput", :"jquery.blockui", :"jquery.dataTables", |
      :"knockout-1.2.1", :"knockout-mapping", :"knockout.dataTables", :application, :models |
    =yield_content :head
    :javascript
      $(function() {
        $("#config-menu button").button({
          icons: {
            primary: "ui-icon-wrench",
            secondary: "ui-icon-triangle-1-s"
          }
        }).next().menu({
          select: function(event, ui) {
            $(this).hide();
          }
        }).popup();
      });

      //.flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
    =[:error, :warning, :notice].map { |type| flash_growl(type) }.join
      
  %body
    #container
      #header
        %h1=link_to "Auction Floor"
        #user-navigation
          %ul.wat-cf
            %li=link_to("Logout", "/sessions/destroy", :method => :delete)
            
        #main-navigation
          %ul.wat-cf
            %li{:class => ("active" if request.path_info =~ /^\/auctions$/)}
              =link_to pat(:auctions), "/auctions", :accesskey => 'a'
            %li{:class => ("active" if request.path_info =~ /^\/customers$/)}
              =link_to pat(:customers), "/customers"
            %li{:class => ("active" if request.path_info =~ /^\/consignees$/)}
              =link_to pat(:consignees), "/consignees"
            %li{:class => ("active" if request.path_info =~ /dashboard/)}
              =link_to pat(:dashboard), "/auctions/#{params[:auction_id]}/dashboard", :accesskey => 'd' if params[:auction_id]
            %li{:class => ("active" if request.path_info =~ /bidders/)}
              =link_to pat(:bidders), "/auctions/#{params[:auction_id]}/bidders", :accesskey => 'b' if params[:auction_id]
            %li{:class => ("active" if request.path_info =~ /lots/)}
              =link_to pat(:lots), "/auctions/#{params[:auction_id]}/lots", :accesskey =>'l' if params[:auction_id]
            %li{:class => ("active" if request.path_info =~ /sales/)}
              =link_to pat(:sales), "/auctions/#{params[:auction_id]}/sales", :accesskey => 's' if params[:auction_id]
            -if current_account.role == "admin"
              #config-menu
                %button=pat(:configure)
                %ul
                  %li=link_to pat(:accounts), "/accounts"
                  %li=link_to pat(:locations), "/locations"
                  %li=link_to pat(:parameters), "/parameters"
                  %li=link_to pat(:customizations), "/customizations"
                  
      #wrapper.wat-cf
        #sidebar
          =yield_content :context_panel
        #main
          =yield
          #footer
            .block
              %p Copyright &copy; #{Time.now.year} Pliosoft - Auction Floor  
  #dialog{ :style=>"display:none;"}
    TEST